<!-- Services Section -->
    <section id="biography">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biography</h2>
                    <p class="text-muted">I was born in West Croydon, south London in the late1960,s.Played football for Crystal Palace youth, county tennis and is a 50 break man at snooker. After completing Alevels I worked in insurance for 3 years, all the while performing at the Croydon Youth Theatre. When I felt ready I went to drama school in London- The Webber Douglas Academy of Dramatic Art. Left in 1990 so I am celebrating 30 years in the business!</p>
                </div>
            </div>
        </div>
    </section>