 <!-- Portfolio Modals -->
 {% for post in site.posts | sort: post.mod %}
    <div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" onclick="killVideo()">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <h3>{{ post.subtitle }}</h3>
                            <hr class="star-primary">
                            <iframe  id="popupVid" style="display:block; width:100vw; min-height:56vw; max-width: 100%; max-height: 56%; border:none; margin:0 0 1em 0; padding:0; overflow:hidden; z-index:999999;" src="{{ post.video }}&enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <!-- <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Venue
                                    <strong><a href="http://startbootstrap.com">{{ post.venue }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      function toggleVideo(state) {
            // if state == 'hide', hide. Else: show video
            var div = document.getElementById("portfolio-modal");
            var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
            div.style.display = state == 'hide' ? 'none' : '';
            func = state == 'hide' ? 'pauseVideo' : 'playVideo';
            iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
        }
  </script>
{% endfor %}
